<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs', {isAuthenticated, username}) %>

<body>
  <section class="main-content">
    <h1>Some error occurred!</h1>
    <p>We're working on fixing this, sorry for the inconvenience!</p>
  </section>

  <%- include('includes/end.ejs') %>