.main-content__form-group {
    padding: 0 2rem 2rem 2rem;
    max-width: min(60%, 700px);
}

.main-content__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: white;
    color: var(--secondary-accent-color);
    padding: 1rem;
    border-radius: 1rem;
    box-shadow: 0.2rem 0.2rem 2rem white;
}

.main-content__form-delete {
    display: flex;
    justify-content: flex-end;
}

.main-content__field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: flex-end;
}

.chore-details {
    .main-content__field {
        grid-template-columns: 0.5fr 1fr;

        input, textarea {
            width: 100%;
        }
    }
}

.main-content__login-form > .main-content__field {
    grid-template-columns: 0.5fr 1fr;
}

.main-content__one-column,
.main-content__login-form > .main-content__one-column {
    grid-template-columns: 1fr;
}

.main-content__group, 
.main-content__field {
    padding-top: 1rem;
}

textarea {
    resize: vertical;
    max-height: 20rem;
    min-height: 5rem;
}

label {
    padding-inline: 1rem;
}

.main-content__img {
    height: 10rem;
    object-fit: contain;
    margin: 1rem 0;
    padding: 1rem 0;
    background: var(--primary-accent-color);
    box-shadow: inset 0 -1rem 1rem var(--secondary-accent-color);
}
