@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.backdrop {
    z-index: 0;
    top: 0;
    left: 0;
    background: #b96262;
    position: fixed;
    width: 100vw;
    height: 100vh;
}

header {
    z-index: 1;
    position: relative;
}

h1 {
    color: white;
    padding-inline: 1rem;
    position: relative;
}

.main-header__nav {
    display: flex;
    width: 100%;
    height: 3.5rem;
    background-color: #f1a6aa;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex: 1;
}

.main-header__item {
    margin: 0 1rem;
    padding: 0;
}

.main-content {
    z-index: 2;
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-header__logout {
    margin-right: 1rem;
}

.main-header__nav > a,
.main-header__item > a {
    color: rgb(66, 21, 21);
    font-weight: 700;
    text-decoration: none;
    position: relative;
}

a.active {
    color: white;
    text-decoration: underline;
}

.main-content > a {
    text-decoration: none;
    max-width: 500px;
    margin: 1rem;
    padding: 0.5rem;
    background: #f1a35f;
    border-radius: 1rem;
    box-shadow: 0 0.3rem 0 rgb(118 90 65);
    color: #ffffff;
}

.user-message {
    max-width: 500px;
    margin: 0 1rem 1rem 1rem;
    padding: 0.5rem;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 0.2rem rgba(10, 10, 75, 0.2);
    text-align: center;
}

.user-message--error {
    background: red;
}